<!DOCTYPE html>

<html>
    <head>
        <title>Books table</title>
    </head>
    <body>
    <style>
        table, th, td, tr {
            border: 1px solid black;
        }
    </style>
        <form onsubmit="httpGetAsync()">
            <div>
                <input name="search" id="search" type="search">
                <button type="submit">Go</button>
            </div>
            <br>
            <table>
                <tr>
                    <th>Count</th>
                    <th>Results</th>
                </tr>
                <tr>
                    <td class="tableCount">1</td>
                    <td class="tableResults">Testing</td>
                </tr>
            </table>
        </form>
        <script>
            document.querySelector('form').addEventListener('submit', httpGetAsync)
            function httpGetAsync(e) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
                }
                xmlHttp.open("GET", "http://localhost:8080/?search="+document.getElementById("search").value, true); // true for asynchronous 
                xmlHttp.send(null);
            }
        </script>
    </body>
</html>