<!DOCTYPE html>

<html>
    <head>
        <title>Books table</title>
    </head>
    <body>
    <style>
        table, th, td, tr {
            border: 1px solid black;
        }
    </style>
        <div>
            <input name="search" id="search" type="search">
            <button>Go</button>
        </div>
        <br>
        <table id="table">
        </table>
        <script>
            document.querySelector('button').addEventListener('click', httpGetAsync);
            function httpGetAsync() {
                document.getElementById("table").innerHTML = "";

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function() {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                        jsonResponse = JSON.parse(xmlHttp.responseText);
                        for(i=0; i < jsonResponse.results.length; i++) {
                            var createTableRow = document.createElement("tr");
                            var createTableData = document.createElement("td");

                            createTableData.setAttribute("class", "tableResults");
                            createTableRow.appendChild(createTableData);
                            document.getElementById("table").appendChild(createTableRow);

                            document.getElementsByClassName("tableResults")[i].innerHTML = jsonResponse.results[i];
                        }
                        var createTableRowCount = document.createElement("tr");
                        var createTableDataCount = document.createElement("td");

                        createTableDataCount.setAttribute("id", "tableCount");
                        createTableRowCount.appendChild(createTableDataCount);
                        document.getElementById("table").appendChild(createTableRowCount)
                        document.getElementById("tableCount").innerHTML = "Count: " + jsonResponse.count;
                    }
                }
                xmlHttp.open("GET", "http://localhost:8080/?search="+document.getElementById("search").value, true); // true for asynchronous 
                xmlHttp.send(null);
            }
        </script>
    </body>
</html>